.jumbotron-primary,
.footer {
	background-image: url(../img/sayagata-400px.png);
}
.jumbotron .jumbotron-title {
	display: inline-block;
	font-weight: 800;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #fff;
	background: #53bf6b;
	padding: 2rem;
}

pre {
	padding: 0;
}

footer {
	padding: 2rem 0;
}

.main {
	padding-bottom: 3rem;
}

.sidebar-sticky {
	padding-top: 2rem;
}

span code {
	background-color: rgba(0,0,120,0.1);
	color: rgba(0,0,120,0.5);
}

input.error {
	border-color: maroon;
}

.after-toggle-container {
	padding: 1rem;
	display: block;
	border: 1px solid rgba(0,0,0,0.1);
}